In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [140]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

test_data.head()

,ID,X_01,X_02,X_03,X_04,X_05,X_06,X_07,X_08,X_09,...,X_47,X_48,X_49,X_50,X_51,X_52,X_53,X_54,X_55,X_56
0,TEST_00001,68.504,103.321,76.67,1,101.867,73.963,30.51,63.57,239.80,...,1,1,17227.63,138.130429,129.460682,141.506570,133.427229,129.711498,133.138096,121.859684
1,TEST_00002,67.485,103.320,69.37,1,101.992,67.845,28.03,116.99,189.23,...,1,1,17134.53,136.148839,128.266277,145.911745,131.196417,132.411480,133.629025,124.178623
2,TEST_00003,69.524,103.320,68.97,1,101.884,77.022,29.65,205.68,214.93,...,1,1,14860.83,120.447446,119.988804,132.099908,120.450155,130.051708,128.252972,114.475628
3,TEST_00004,69.524,103.320,65.87,1,101.866,73.963,28.15,103.38,180.80,...,1,1,15252.53,133.994695,125.069180,147.507669,123.142653,125.963665,139.666592,126.589253
4,TEST_00005,73.603,103.321,66.67,1,101.891,74.983,29.92,71.20,231.93,...,1,1,10752.23,137.918202,135.116192,138.600473,127.173033,137.252712,134.411335,124.020016

In [141]:
con1 = (train_data.Y_01 >= 0.2) & (train_data.Y_01 <= 2)
con2 = (train_data.Y_02 >= 0.2) & (train_data.Y_02 <= 2.1)
con3 = (train_data.Y_03 >= 0.2) & (train_data.Y_03 <= 2.1)
con4 = (train_data.Y_04 >= 7) & (train_data.Y_04 <= 19)
con5 = (train_data.Y_05 >= 22) & (train_data.Y_05 <=36.5)
con6 = (train_data.Y_06 >= -19.2) & (train_data.Y_06 <= 19)
con7 = (train_data.Y_07 >= 2.4) & (train_data.Y_07 <= 4)
con8 = (train_data.Y_08 >= -29.2) & (train_data.Y_08 <= -24)
con9 = (train_data.Y_09 >= -29.2) & (train_data.Y_09 <= -24)
con10 = (train_data.Y_10 >= -30.6) & (train_data.Y_10 <= -20)
con11 = (train_data.Y_11 >= 19.6) & (train_data.Y_11 <= 26.6)
con12 = (train_data.Y_12 >= -29.2) & (train_data.Y_12 <= -24)
con13 = (train_data.Y_13 >= -29.2) & (train_data.Y_13 <= -24)
con14 = (train_data.Y_14 >= -29.2) & (train_data.Y_14 <= -24)

train_data = train_data.loc[con1&con2&con3&con4&con5&con6&con7&con8&con9&con10&con11&con12&con13&con14,:]
train_data

,ID,X_01,X_02,X_03,X_04,X_05,X_06,X_07,X_08,X_09,...,Y_05,Y_06,Y_07,Y_08,Y_09,Y_10,Y_11,Y_12,Y_13,Y_14
1,TRAIN_00002,69.524,103.321,65.17,1,101.944,72.943,28.73,61.23,233.61,...,33.179,16.736,3.229,-26.619,-26.523,-22.574,24.691,-26.253,-26.497,-26.438
2,TRAIN_00003,72.583,103.320,64.07,1,103.153,72.943,28.81,105.77,272.20,...,31.801,17.080,2.839,-26.238,-26.216,-22.169,24.649,-26.285,-26.215,-26.370
3,TRAIN_00004,71.563,103.320,67.57,1,101.971,77.022,28.92,115.21,255.36,...,34.503,17.143,3.144,-25.426,-25.079,-21.765,24.913,-25.254,-25.021,-25.345
4,TRAIN_00005,69.524,103.320,63.57,1,101.981,70.904,29.68,103.38,241.46,...,32.602,17.569,3.138,-25.376,-25.242,-21.072,25.299,-25.072,-25.195,-24.974
5,TRAIN_00006,69.524,103.320,62.77,1,101.899,69.884,27.90,64.97,241.85,...,29.662,16.201,3.343,-26.466,-26.527,-22.621,24.064,-26.489,-26.536,-26.426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39601,TRAIN_39602,64.425,103.320,63.87,1,102.037,68.864,30.40,99.99,199.55,...,32.671,16.949,2.996,-26.106,-26.281,-22.359,24.661,-26.134,-26.300,-26.306
39602,TRAIN_39603,66.465,103.320,62.27,1,103.150,66.825,30.20,77.83,298.05,...,29.194,16.582,3.410,-26.486,-26.581,-22.772,24.261,-26.491,-26.584,-26.580
39603,TRAIN_39604,66.465,103.321,62.77,1,102.021,66.825,29.21,102.25,270.67,...,29.859,15.659,3.406,-27.308,-27.203,-24.674,23.427,-27.250,-27.334,-27.325
39604,TRAIN_39605,68.504,103.320,64.67,1,103.144,68.864,29.96,102.61,198.07,...,24.720,16.823,3.215,-26.502,-26.687,-22.577,24.301,-26.388,-26.425,-26.601
39606,TRAIN_39607,66.465,103.320,65.67,1,102.004,69.884,30.16,112.90,276.06,...,30.745,16.781,3.307,-26.054,-26.251,-23.257,24.450,-26.224,-26.256,-26.093

In [142]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35690 entries, 1 to 39606
Data columns (total 71 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      35690 non-null  object
 1   X_01    35690 non-null  float64
 2   X_02    35690 non-null  float64
 3   X_03    35690 non-null  float64
 4   X_04    35690 non-null  int64
 5   X_05    35690 non-null  float64
 6   X_06    35690 non-null  float64
 7   X_07    35690 non-null  float64
 8   X_08    35690 non-null  float64
 9   X_09    35690 non-null  float64
 10  X_10    35690 non-null  float64
 11  X_11    35690 non-null  float64
 12  X_12    35690 non-null  float64
 13  X_13    35690 non-null  float64
 14  X_14    35690 non-null  float64
 15  X_15    35690 non-null  float64
 16  X_16    35690 non-null  float64
 17  X_17    35690 non-null  float64
 18  X_18    35690 non-null  float64
 19  X_19    35690 non-null  float64
 20  X_20    35690 non-null  float64
 21  X_21    35690 non-null  float64
 22  X_22    35690 non-null  float64
 23  X_23    35690 non-null  int64
 24  X_24    35690 non-null  float64
 25  X_25    35690 non-null  float64
 26  X_26    35690 non-null  float64
 27  X_27    35690 non-null  float64
 28  X_28    35690 non-null  float64
 29  X_29    35690 non-null  float64
 30  X_30    35690 non-null  float64
 31  X_31    35690 non-null  float64
 32  X_32    35690 non-null  float64
 33  X_33    35690 non-null  float64
 34  X_34    35690 non-null  float64
 35  X_35    35690 non-null  float64
 36  X_36    35690 non-null  float64
 37  X_37    35690 non-null  float64
 38  X_38    35690 non-null  float64
 39  X_39    35690 non-null  float64
 40  X_40    35690 non-null  float64
 41  X_41    35690 non-null  float64
 42  X_42    35690 non-null  float64
 43  X_43    35690 non-null  float64
 44  X_44    35690 non-null  float64
 45  X_45    35690 non-null  float64
 46  X_46    35690 non-null  int64
 47  X_47    35690 non-null  int64
 48  X_48    35690 non-null  int64
 49  X_49    35690 non-null  float64
 50  X_50    35690 non-null  float64
 51  X_51    35690 non-null  float64
 52  X_52    35690 non-null  float64
 53  X_53    35690 non-null  float64
 54  X_54    35690 non-null  float64
 55  X_55    35690 non-null  float64
 56  X_56    35690 non-null  float64
 57  Y_01    35690 non-null  float64
 58  Y_02    35690 non-null  float64
 59  Y_03    35690 non-null  float64
 60  Y_04    35690 non-null  float64
 61  Y_05    35690 non-null  float64
 62  Y_06    35690 non-null  float64
 63  Y_07    35690 non-null  float64
 64  Y_08    35690 non-null  float64
 65  Y_09    35690 non-null  float64
 66  Y_10    35690 non-null  float64
 67  Y_11    35690 non-null  float64
 68  Y_12    35690 non-null  float64
 69  Y_13    35690 non-null  float64
 70  Y_14    35690 non-null  float64
dtypes: float64(65), int64(5), object(1)
memory usage: 19.6+ MB

In [143]:
train_data.drop(columns='ID',inplace=True)
test_ID = test_data[['ID']]
test_col = test_data.columns
test_data.drop(columns='ID',inplace=True)

In [144]:
test_ID

               ID
0      TEST_00001
1      TEST_00002
2      TEST_00003
3      TEST_00004
4      TEST_00005
...           ...
39603  TEST_39604
39604  TEST_39605
39605  TEST_39606
39606  TEST_39607
39607  TEST_39608

[39608 rows x 1 columns]

In [145]:
train_data.isnull().sum()

X_01    0
X_02    0
X_03    0
X_04    0
X_05    0
       ..
Y_10    0
Y_11    0
Y_12    0
Y_13    0
Y_14    0
Length: 70, dtype: int64

In [146]:
train_data.isnull().sum().sum()

0

In [147]:
train_data_X = train_data.filter(regex='X_')
train_data_y = train_data.filter(regex='Y_')
train_data_y

,Y_01,Y_02,Y_03,Y_04,Y_05,Y_06,Y_07,Y_08,Y_09,Y_10,Y_11,Y_12,Y_13,Y_14
1,1.446,1.184,1.268,18.507,33.179,16.736,3.229,-26.619,-26.523,-22.574,24.691,-26.253,-26.497,-26.438
2,1.251,0.665,0.782,14.082,31.801,17.080,2.839,-26.238,-26.216,-22.169,24.649,-26.285,-26.215,-26.370
3,1.464,1.079,1.052,16.975,34.503,17.143,3.144,-25.426,-25.079,-21.765,24.913,-25.254,-25.021,-25.345
4,0.983,0.646,0.689,15.047,32.602,17.569,3.138,-25.376,-25.242,-21.072,25.299,-25.072,-25.195,-24.974
5,1.155,0.678,0.580,11.760,29.662,16.201,3.343,-26.466,-26.527,-22.621,24.064,-26.489,-26.536,-26.426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39601,1.556,1.418,1.328,12.598,32.671,16.949,2.996,-26.106,-26.281,-22.359,24.661,-26.134,-26.300,-26.306
39602,1.382,1.215,1.263,10.874,29.194,16.582,3.410,-26.486,-26.581,-22.772,24.261,-26.491,-26.584,-26.580
39603,1.482,0.606,1.083,8.759,29.859,15.659,3.406,-27.308,-27.203,-24.674,23.427,-27.250,-27.334,-27.325
39604,1.117,1.154,0.993,13.159,24.720,16.823,3.215,-26.502,-26.687,-22.577,24.301,-26.388,-26.425,-26.601
39606,1.147,0.348,0.852,10.421,30.745,16.781,3.307,-26.054,-26.251,-23.257,24.450,-26.224,-26.256,-26.093

In [148]:
test_data

,X_01,X_02,X_03,X_04,X_05,X_06,X_07,X_08,X_09,X_10,...,X_47,X_48,X_49,X_50,X_51,X_52,X_53,X_54,X_55,X_56
0,68.504,103.321,76.67,1,101.867,73.963,30.51,63.57,239.80,0.0,...,1,1,17227.63,138.130429,129.460682,141.506570,133.427229,129.711498,133.138096,121.859684
1,67.485,103.320,69.37,1,101.992,67.845,28.03,116.99,189.23,0.0,...,1,1,17134.53,136.148839,128.266277,145.911745,131.196417,132.411480,133.629025,124.178623
2,69.524,103.320,68.97,1,101.884,77.022,29.65,205.68,214.93,0.0,...,1,1,14860.83,120.447446,119.988804,132.099908,120.450155,130.051708,128.252972,114.475628
3,69.524,103.320,65.87,1,101.866,73.963,28.15,103.38,180.80,0.0,...,1,1,15252.53,133.994695,125.069180,147.507669,123.142653,125.963665,139.666592,126.589253
4,73.603,103.321,66.67,1,101.891,74.983,29.92,71.20,231.93,0.0,...,1,1,10752.23,137.918202,135.116192,138.600473,127.173033,137.252712,134.411335,124.020016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39603,68.504,103.320,63.97,1,103.157,68.864,29.49,116.35,284.16,0.0,...,1,1,62123.53,127.741246,126.494312,139.119905,125.271109,128.284572,140.176945,128.292843
39604,68.504,103.320,61.37,1,103.137,68.864,32.29,116.28,272.41,0.0,...,1,1,61844.13,127.767377,124.062809,138.238664,119.879393,127.322529,137.312047,131.570614
39605,69.524,103.320,63.67,1,103.149,69.884,30.00,113.05,295.54,0.0,...,1,1,60277.53,128.593640,124.774037,138.659624,123.999571,126.075542,135.656132,127.671108
39606,67.485,103.321,61.77,1,103.148,67.845,32.05,115.05,267.26,0.0,...,1,1,60236.73,121.110646,125.471699,134.989984,120.889578,129.296909,132.673977,131.882893
39607,71.563,103.320,63.07,1,103.158,71.923,31.14,102.22,215.85,0.0,...,1,1,60680.73,134.263593,129.765515,139.681833,128.243391,131.757923,139.903401,121.479191

In [149]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
train_data_X = scaler.fit_transform(train_data_X)
test_data = scaler.transform(test_data)

In [150]:
from sklearn.model_selection import KFold, train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_squared_error

kfold = KFold(n_splits=5, shuffle=True, random_state=2022)
lr = LinearRegression()

train_data_X = np.array(train_data_X)
train_data_y = np.array(train_data_y)

RMSE_history = []

for train_index, test_index in kfold.split(train_data_X):
    X_train, X_test = train_data_X[train_index], train_data_X[test_index]
    y_train, y_test = train_data_y[train_index], train_data_y[test_index]
    
    MultiOutputRegressor(lr.fit(X_train,y_train))
    y_pred = lr.predict(X_train)
    mse = mean_squared_error(y_train, y_pred)
    rmse = np.sqrt(mse)
    RMSE_history.append(rmse)
    
print(RMSE_history)
print(np.mean(RMSE_history))

[1.0532256003913523, 1.0559668062104757, 1.0545195258746665, 1.056554653912536, 1.0559419032763573]
1.0552416979330776

In [151]:
test_data_y = lr.predict(test_data)
test_data_y

array([[  1.43863881,   1.17444851,   1.10657819, ..., -26.02854889,
        -26.01853691, -26.03957768],
       [  1.46016342,   1.17475321,   1.10220735, ..., -26.04101297,
        -26.03209873, -26.050206  ],
       [  1.36837727,   1.04690693,   0.9877363 , ..., -25.93876912,
        -25.9422313 , -25.95259353],
       ...,
       [  1.30808499,   0.97611363,   0.98411211, ..., -26.46654922,
        -26.45988161, -26.4675477 ],
       [  1.30937017,   0.97911292,   0.99959829, ..., -26.44573042,
        -26.44351339, -26.452545  ],
       [  1.37545698,   1.04758477,   1.05029782, ..., -26.40425161,
        -26.40016486, -26.40780534]])

In [152]:
test_data_y = pd.DataFrame(test_data_y,columns = train_data.filter(regex='Y_').columns)
submission = pd.concat([test_ID, test_data_y],axis = 1)
submission

,ID,Y_01,Y_02,Y_03,Y_04,Y_05,Y_06,Y_07,Y_08,Y_09,Y_10,Y_11,Y_12,Y_13,Y_14
0,TEST_00001,1.438639,1.174449,1.106578,13.118104,31.081479,16.780078,3.223402,-26.079709,-26.097409,-22.043673,24.484654,-26.028549,-26.018537,-26.039578
1,TEST_00002,1.460163,1.174753,1.102207,13.163313,30.839555,16.703428,3.203955,-26.094485,-26.097042,-22.223432,24.409805,-26.041013,-26.032099,-26.050206
2,TEST_00003,1.368377,1.046907,0.987736,14.593684,31.804660,16.772140,3.059883,-25.996085,-26.016272,-22.179744,24.525439,-25.938769,-25.942231,-25.952594
3,TEST_00004,1.310436,1.007556,0.918501,15.158354,32.037212,16.737719,3.001880,-26.090559,-26.110381,-22.187701,24.473504,-26.034918,-26.035449,-26.046448
4,TEST_00005,1.285316,0.942085,0.900933,14.484794,31.261106,16.579926,3.145194,-26.128901,-26.138743,-22.431283,24.309625,-26.069461,-26.060064,-26.080232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39603,TEST_39604,1.352139,1.031610,1.040908,13.279512,31.389193,16.646971,3.146728,-26.522656,-26.525332,-22.545112,24.315812,-26.452887,-26.446973,-26.453239
39604,TEST_39605,1.311961,0.989044,0.993926,13.627453,31.725236,16.695985,3.071967,-26.518497,-26.511060,-22.533567,24.365696,-26.448367,-26.445571,-26.455475
39605,TEST_39606,1.308085,0.976114,0.984112,14.023394,31.939230,16.670989,3.080480,-26.525808,-26.527594,-22.564875,24.358550,-26.466549,-26.459882,-26.467548
39606,TEST_39607,1.309370,0.979113,0.999598,13.573121,31.496843,16.621488,3.155825,-26.511868,-26.512431,-22.598334,24.297651,-26.445730,-26.443513,-26.452545
39607,TEST_39608,1.375457,1.047585,1.050298,13.531228,31.354344,16.622708,3.117955,-26.467774,-26.469042,-22.586760,24.297400,-26.404252,-26.400165,-26.407805

In [154]:
submission.to_csv('submission.csv',index=False)